/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/


/*===== Colores =====*/

:root {
    --primary-background: #fff;
    --primary-color: #202122;
    --secondary-color: #1e90ff;
}


/*===== Fonts =====*/

:root {
    --body-font: "Poppins";
    --title-font-size: 2rem;
    --subtitle-font-size: 1.5rem;
    --button-font-size: 0.938rem;
    --normal-font-size: 0.938rem;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .button {
        width: 75%;
    }
    .column,
    .columns {
        margin-left: 0;
        margin-bottom: 10%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
        margin-bottom: 10%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .container {
        width: 80%;
    }
    .button {
        width: 50%;
    }
    .column,
    .columns {
        margin-left: 0;
        margin-bottom: 10%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
        margin-bottom: 10%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    .button {
        width: 50%;
    }
    .column,
    .columns {
        margin-left: 0;
        margin-bottom: 10%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
        margin-bottom: 10%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
    }
    .button {
        width: 50%;
    }
    .column,
    .columns {
        margin-left: 0;
        margin-bottom: 10%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
        margin-bottom: 10%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }
    .button {
        width: 50%;
    }
    .column,
    .columns {
        margin-left: 0;
        margin-bottom: 10%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
        margin-bottom: 10%;
    }
}


/*===== Grid =====*/

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column {
    position: center;
    width: 100%;
    float: center;
    box-sizing: border-box;
    margin: 0 auto;
}


/*===== Base Styles =====*/

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 2rem 0 0 0;
    background-color: var(--primary-background);
    font-size: var(--title-font-size);
    font-family: var(--body-font);
    color: var(--primary-color);
}


/*===== Typography =====*/

h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
}

h1 {
    font-size: 30px;
    line-height: 64px;
    letter-spacing: 0;
}


/*===== Misc =====*/

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1;
}

p {
    margin-top: 0;
    font-size: 20px;
}


/*===== Links =====*/

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

i {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
}


/*===== Code =====*/

code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    color: #000000;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}


/*===== Spacing =====*/

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
p,
ol {
    margin-bottom: 2.5rem;
}


/*===== Utilities =====*/

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}


/*===== Header =====*/

.text {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 30px;
}

.text.short-bio {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px;
}

.text.work-name {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}


/*===== Footer =====*/

.footerbar {
    display: flex;
    background-color: #EEEEEE;
    position: fixed;
    color: #757575;
    font-weight: 100;
    font-size: 8px;
    letter-spacing: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
}


/*===== Button =====*/

.button {
    display: inline-block;
    text-decoration: none;
    height: 60px;
    padding: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 1px;
    white-space: nowrap;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 0px 8px 15px rgb(230, 230, 230);
    transition: all 0.3s ease 0s;
}


/*===== Button Hover =====*/

.button:hover {
    box-shadow: 0px 15px 20px rgba(58, 61, 60, 0.6);
    transform: translateY(-7px);
}


/*===== GitHub Button =====*/

.button.button-github {
    color: #FFFFFF;
    background-color: #24292e
}

.button.button-github:hover {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.button.button-github:focus {
    filter: brightness(90%)
}


/*===== LinkedIn Button =====*/

.button.button-linkedin {
    color: #FFFFFF;
    background-color: #0A66C2;
}

.button.button-linkedin:hover {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.button.button-linkedin:focus {
    filter: brightness(90%)
}


/*===== Instagram Button =====*/

.button.button-instagram {
    color: #FFFFFF;
    background-image: linear-gradient(110deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80)
}

.button.button-instagram:hover {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.button.button-instagram:focus {
    filter: brightness(90%)
}


/*===== Email Button =====*/

.button.button-email {
    color: #FFFFFF;
    background-image: linear-gradient(-180deg, #D44638, #B23121)
}

.button.button-email:hover {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.button.button-email:focus {
    filter: brightness(90%)
}


/*===== Adhoc Button =====*/

.button.button-adhoc {
    color: #FFFFFF;
    background-image: linear-gradient(110deg, #1D71F2, #1C9CF6)
}

.button.button-adhoc:hover {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.button.button-adhoc:focus {
    filter: brightness(90%)
}


/*===== Theme Switch =====*/

label {
    height: 18px;
    width: 18px;
    display: inline-block;
    background-color: #2a2d42;
    border-radius: 50%;
    padding: 8px;
    position: relative;
    margin-left: 50%;
    vertical-align: middle;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

label svg {
    height: 18px;
    width: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in-out;
}

label svg:first-child {
    fill: white;
}

label svg:last-child {
    fill: #2a2d42;
    opacity: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    background-color: #F4D435;
    transform: rotate(360deg);
}

input[type="checkbox"]:checked+label svg:first-child {
    opacity: 0;
}

input[type="checkbox"]:checked+label svg:last-child {
    opacity: 1;
}